.main #content{
    padding: 65px 15px 0;
}

.main .sidebar{
    background:white;
    padding-top:15px;
    box-shadow:0 0 12px rgba(58, 51, 46, 0.45);
    margin-left: 2%;
    border-radius:5px;
}

.date{
    color: white;
    font-family: calibri;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.timer-col #minutes{
    padding: 0 5px;
}
.search-form-widget button, .subscribe button{
    background: #142C4C;
    border: #142C4C;
    color:white;
}

.post h4 a{
    color: #142C4C;
    text-decoration: none;
    font-size:19px;
}

.time{
    color:#fff;
    text-transform: uppercase;
    font-family:calibri;
}
.cityInput{
    text-align: center;
    margin-bottom: 0;
    height: 25px;
    color:red;
    font-family: calibri;
}
.city-col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-col{
    margin-top: 10px;
}

#counter .activeTime{
    background: #F69C1F;
    color:#142C4C;
}

#counter #minutes{
    color: #142c4c;
}

.navigation > ul > li > a{
    font-family: Calibri;
    font-weight: bold;
    color: #142C4C;
    /*color: #fff;*/
}
.navigation > ul > li:hover{
    background: #142c4c;
}
.navigation > ul > li> a:hover, .sfHover:hover{
    color: white;
}
.posts-archive{
    background:white;
    padding-top:15px;
    padding-bottom:15px;
    box-shadow:0 0 12px rgba(58, 51, 46, 0.45);
    border-radius:5px;
}
.site-login{
    margin-top: 60px;
}
.site-footer{
    background: #142C4C;
}
.mainColor{
    color: #142c4c;
}

footer h4{
    background: #D9DBD8;
    color: #142c4c;
    padding:5px;
    text-align: center;
    border-radius: 7px 7px 0 0;
}
footer img{
    background: #fff;
    border-radius: 0 0 7px 7px;
}

footer .footer-widget{
    border-radius: 0 0 7px 7px;
}
.Islamic_t{
    color: #142c4c;
    padding: 0 5px;
    background: #eceae4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

body .container{
    /*background: white;*/
}
.none{
    display:none;
}
#searchIcon{
    font-size:16px;
    padding-left: 10px;
}

#searchIcon:hover{
    cursor: pointer;
}

#searchClose:hover{
    cursor: pointer;
}

.megamenu-container a {
    text-decoration: none;
    color: #142c4c;
}

@media(max-width: 450px){
    .date1{
        display: none;
    }
    .date2{
        display: block;
        font-size: 14px;
    }
}
@media(min-width: 451px){
    .date1{
        display: block;
    }
    .date2{
        display: none;
    }
}
@media(max-width:619px){
    .site-header .menu-toggle{
        margin: 16px 10px 0 0;
    }
    .site-name{
        order:1;
        width:100%;
        font-size: 20px;
    }
    .site-name h3{
        font-size: 20px;
    }
    .notice-bar{
        padding:10px 0;

    }
    .parallax{
        display:none;
    }

    .main #content{
        padding: 15px 15px 0;
    }

    .main .col-md-9{
        margin-bottom: 15px;
    }

    .main .col-md-3{
        margin-left: 0;
    }

    .site-footer{
        margin-top: 0;
    }
    .date-col{
        order: 1;
        width:50%;
    }
    .icons-col{
        order:2;
        width:50%;
        display: none;
    }
    .city-col{
        order:3;
        width:50%;
        margin-top: 10px;
        align-self: normal;
    }
    .time-col{
        order:4;
        width:100%;
    }
    .notice-bar .counter{
        padding-top: 7px;
        margin-top:0;
    }

}
@media(min-width:620px) and (max-width:991px){
    .notice-bar{
        padding:10px 0;
    }
    .site-name h3{
        font-size:20px;
    }
    .site-header .menu-toggle{
        margin: 16px 10px 0 0;
    }
    .parallax {
        display:none;
    }

    .main #content{
        padding: 15px 15px 0;
    }

    .main .col-md-9{
        margin-bottom: 15px;
    }

    .main .col-md-3{
        margin-left: 0;
    }

    .site-footer{
        margin-top: 0;
    }
    .site-name{
        order:1;
        width:100%;
    }
    .date-col{
        order: 2;
        width:50%;

    }
    .icons-col{
        order:3;
        width:50%;

    }
    .city-col{
        order:4;
        width:50%;

    }
    .time-col{
        order:5;
        width:50%;
    }
    .notice-bar .counter{
        margin-top: 0;
    }

}

@media(min-width:768px){
    .site-books article .col-md-8{
        padding-left: 0;
    }
}

@media(max-width:767px){
    .sidebar{
        margin-top: 0;
    }
    .site-footer{
        margin-top: 15px;
    }
}


